/*-----------
Fonts
-------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*-----------
Global
------------*/
html,body{
    height: 100%;
}
body{
    position: relative;
    overflow-x: hidden;
    background-color: #f7f7f7;
    font-family: "Poppins",sans-serif;
}
a:hover{
    color: white;
    text-decoration: none;
}
/*------------
Sidebar
-------------*/
#sidebar-wrapper{
    z-index: 100%;
    height: 100%;
    width: 0;
    left: -50%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #08386b;
    transition: all .5s ease;

}
#sidebar-wrapper::-webkit-scrollbar{
    width: 8px;
    background-color: #0e2742;
}
#sidebar-wrapper::-webkit-scrollbar-thumb{
    background-color: #989898;
    border-radius: 10px;
}
.sidebar-brand{
    font-weight: 600;
    font-size: 20px;
    padding: 8px 12px;
    display: block;
    color: #f8f9fa;
}
.sidebar-header{
    text-transform: capitalize;
    padding: 12px 12px 7px !important;
    font-size: 14px;
    color: #ced4da;

}
.navbar-nav li a ,.submenu-box ul li a{
    color: gray !important;
    font-size: 14px;
    padding: 10px 10px 10px 20px !important;
    display: block;
    font-weight: 400;
    position: relative;
    z-index: 2;
    letter-spacing: 2px;
}
.submenu-box ul li a{
    padding: 4px 10px 4px 20px !important;
    color: #c1c1c1 !important;  
}
.navbar-nav>li>a.active {
    color: #e9ecef !important;
    background: linear-gradient(90deg, rgba(59, 125, 221, .1), rgba(59, 125, 221, .0875) 50%, transparent);
    border-left: 4px solid #3b7ddd;
}

.navbar-nav .has-sub > a.collapsed::after {
    transition: 0.4s ease;
}

.navbar-nav .has-sub > a.collapsed::after {
    color: gray;
    font-size: 10px;
    content: "\f078";
}

.navbar-nav .has-sub > a.collapsed::after {
    color: gray;
}

.navbar-nav .has-sub > a::after {
    position: absolute;
    right: 0px;
    top: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    color: gray;
    display: block;
    content: "\f077";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: 13px;
    line-height: 30px;
    margin-top: -15px;
}
#wrapper.toggled{
    padding-left: 270px;
}
.toggled#sidebar-wrapper{
    width: 270px !important;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all .5s ease;
}
.navbar-nav li{
    display: block;
    margin: 2px 0px;
}
.nav-item .nav-link{
    display: block;
    color: white !important;
    text-transform: capitalize;
    text-decoration: none;
    padding: 6px 10px;
    transition: .4s ease;
}
.navbar-nav > li > a i::before{
    margin: 0 5px 0 0;
    font-size: 14px;
}

/*-----------
End Sidebar
---------------*/

/*-----------
Start main content
---------------*/
#page-content-wrapper{
    width: 100%;
    transition: all .5s ease;
}
#wrapper.toggled #page-content-wrapper{
    position: absolute;
    margin-right: -270px;
    transition: all .5s ease;
}
.toggled#page-content-wrapper{
    margin-left: 270px;
    transition: all .5s ease;
}

@media only screen and (min-width:992px) {
    .toggled#page-content-wrapper{
        width: calc(100% - 270px);
    }
}
/*-----------
End main content
---------------*/

/*-----------
Start bar animation
---------------*/
.nav-icon1{
    z-index: 999;
    position: relative;
    display: block;
    width: 23px;
    margin: 0px 30px 0 25px;
    cursor: pointer;
    height: 25px;
}
.nav-icon1 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    cursor: pointer;
    background-color: #5d5d5d;
    transform: rotate(0deg);
    transition: .3s ease-in-out;
}
.nav-icon1:hover span:nth-of-type(1){
    top: -3px;
}
.nav-icon1:hover span:nth-of-type(3){
    top: 19px;
}
.nav-icon1 span:nth-of-type(1){
    top: 0px;
}
.nav-icon1 span:nth-of-type(2){
    top: 8px;
}
.nav-icon1 span:nth-of-type(3){
    top: 16px;
}
.nav-icon1.open span:nth-of-type(1){
    top: 8px;
    transform: rotate(135deg);
}

.nav-icon1.open span:nth-of-type(2){
    top: 8px;
    opacity: 0;
    left: -30px;
}
.nav-icon1.open span:nth-of-type(3){
    top: 8px;
    transform: rotate(-135deg);
}
/*-----------
End bar animation
---------------*/

/*--------------
Start header navbar
-----------------------*/
.my-navbar{
    padding-top:10px ;
    padding-bottom: 10px;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.17);
}

.text-gray-600{
    color: #858796 !important;
}
.nav-link .img-profile{
    height: 40px;
    width: 40px;
}
.badge-counter{
    position: absolute;
    transform: scale(.7);
    transform-origin: top right;
    right: 6px;
    margin-top: 4px;
}
.navbar-expand .navbar-nav{
    margin-right: 0!important;
}

.navbar-expand .navbar-nav .icon{
    font-size: 23px;
    color: #000;
    margin-top: 3px;
    
}
/*--------------
End header navbar
-----------------------*/
.custom-input{
    position: relative;
    
}
.custom-input input{
    width: 100%;
    padding-left: 24px;
    background-color: #fff !important;
    border-radius: 3px !important;
    border: 1px solid #f1f1f1;
}
.custom-input input::placeholder{
    color: #C4BCB6;

}
.custom-input .icon-4{
 position: absolute;
 left: 5px;
 top: 10px;
 font-size: 18px;
 color: #C4BCB6;
}
/*--------------
Start main top card
-----------------------*/
.card{
    margin-bottom: 24px;
    border: none;
    box-shadow: 0 0 8px 0 rgba(33,37,71,.05);
}
.card-body{
    flex: 1;
    min-height: 1px;
    padding: 12px;
}
.card-title{
    font-size: 20px;
    color: #495057;
}
.card-title h1{
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
    color: #000;
}
.text-gray-800{
    color: #5a5c69!important;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.2;
}
.shadow-sm{
    box-shadow: 0 5px 8px rgba(58,59,69,.2) !important ;
}
.btn-sm{
    padding: 8px 12px;
    font-size: 17px;
    line-height: 1.5;
    border-radius: 6px;
}
.font-16{
    font-size: 16px;
}
.card .card-title{
    position: relative;
    font-weight: 600;
    margin-bottom: 10px;
}
.card .card-subtitle{
    font-family: 300px;
    margin-bottom: 10px;
    color: #a1aab2;
    margin-top: -3px;
}
.custom-card-1{
    border-left: 4px solid #7460ee;
}
.custom-card-2{
    border-left: 4px solid #f82e9a;
}
.custom-card-3{
    border-left: 4px solid #fb8c00;
}
/*--------------
End main top card
-----------------------*/
/*----------------
Start main table
---------------------*/
.m-r-10{
    margin-right: 10px;
}
.btn-circle{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 10px;
}
.btn-info{
    color: #fff;
    background-color: #2962ff;
    border-color: #2962ff;
}
.btn-orange{
    color: #212529;
    background-color: #fb8c00;
    border-color: #fb8c00;
}
.btn-success{
    color: #fff;
    background-color: #36bea6;
    border-color: #36bea6;
}
.btn-purple{
    color: #fff;
    background-color: #7460ee !important;
    border-color: #7460ee;
}
.btn-pink{
    color: #fff;
    background-color: #f82e9a;
    border-color:#f82e9a;
}
.table td,.table th{
    padding: 12px;
    font-size: 14px;
    color: #333;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table h5{
    font-size: 16px;
    font-weight: 600;
    color: #585858;
}

/*----------------
End main table
---------------------*/
/*----------------
Start footer
---------------------*/
footer.footer{
    padding: 15px 10px;
  
    background-color: #fff;
}
footer.footer ul{
    margin: 0;
    list-style: none;
}
.footer ul li a{
    display: inline-block;
    margin: 0 5px;
}
.text-muted{
    color: #6c757d !important;
    font-size: 14px;
}




/*----------------
End footer
---------------------*/